* {
    box-sizing: border-box;
}
html, body {
    font: 14px/1.5 'Montserrat', sans-serif;
    font-size: 12pt;
    color: #000;
    font-weight: 400;
    overflow-x: hidden;
    margin: 0;
}

.top-area {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0 !important;
    background: #fff;
}
.img-area {
    width: 30%;
    padding-left: 100px;
}

.top-area .search-area {
    width: 30%;
}
.top-right-area {
    width: 20%;
}
.search-area {
    
    width: 280px;
    padding: 12px 30px;
    position: relative;
    margin-left: 34%;
}
.btn-search {
    border: none;
    background-color: #fff;
}
.btn-search > img {
    position: absolute;
    top: 22px;
    right: -185px;
    cursor: pointer;
}

.text-name h1{
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #333;
    color: #fff;
}

.input-search {
    border: 1px solid #eee;
    border-radius: 25px;
    width: 456px;
    height: 50px;
    outline: none;
    padding: 12px 30px;
    font-size: medium;
}
.search-area input:focus {
    border: 1px solid #ffc038;
}

.navbar-container {
    display: flex;
}
.nav-list {
    align-items: center;
    justify-content: space-between;
    display: flex;
    list-style: none;
    width: 575px;
    height: 38px;
    margin: 10px 0px 10px 25px;
}
.nav-link {

}
.nav-link a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
    height: 38px;
}
.nav-link a span {
    font-weight: lighter;
    font-size: 10px;
    display: block;
}

.nav-link:hover {
    cursor: pointer;
}

.layout {
    margin-left: 200px;
}

.btn-login {
    color: #fff;
    background-color: #209cee;
    width: 134px;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
}

.btn-login:hover, .btn-signup:hover {
    cursor: pointer;
}
.home-header-banner {
    position: relative;
    width: 100%;
}

.content-up {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 60%;
    background-image: linear-gradient(rgba(0,0,0,.25),hsla(0,0%,100%,.1));
}
.content-down {
    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(hsla(0,0%,100%,.1),hsla(0,0%,100%,.9),#fff);
}
.search {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-top: 50px;
}
.option-child {
    width: 120px;
}

.option-child:hover {
    cursor: pointer;
}
.bg-icon {
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 2px auto;
    padding-top: 8px;

    box-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-child {
    font-size: 17px;
    font-weight: 600;
}
.top-title {
    margin-top: 10px;
    padding: 20px 100px;
}
.heading {
    border-left: 8px solid #56ccf2;
}
.title {
    font-size: 1.6em;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin-left: 10px;
    color: #56ccf2;
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0 100px;
    flex-wrap: wrap;
}

.specialty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 15px;
    overflow: hidden;
}

.specialty .grid-img > img {
    cursor: pointer;
    box-shadow: 0 .2rem 1.5rem rgba(0,0,0,.15);
    transition: 0.2s all ease-in-out;
}
.specialty .grid-img > img:hover{
    transform: scale(1.05);
}

.specialty .grid-name {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.3;
    margin-top: 10px;
}

.grid-name:hover {
    cursor: pointer;
    color: #56ccf2;
}

.img-area .green {
    color: #69aa46!important;
}
.img-area a {
    text-decoration: none;
}

.img-area h1 {
    color: #333;
    font-size: 35px;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.doctors {
    display: flex;
    width: 20%;
    height: 245px;
    border: 1px solid #ede2e2;
    background: rgb(243 242 242);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doctors:not(:last-child) {
    margin-right: 40px;
}
.doctor-name:hover {
    cursor: pointer;
    color: #56ccf2;
}

.doctors-image > img{
    border-radius: 50%;
    box-shadow: 0 .2rem 1.5rem rgba(0,0,0,.15);
    transition: 0.2s all ease-in-out;
}
.doctors-image > img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.nav_bars-btn {
    width: 28px;
    height: 28px;
    color: #fff;
    display: none;
}

.nav__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 320px;
    background-color: #fff;
    padding-top: 20px;
    transform: translate(100%);
    background-color: #d2680d;
}

.nav__mobile-list {
    margin-top: 24px;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(241,129,33,.5);
}
.nav_bars-btn .fa-bars {
    content: "\f0c9";
    color: black;
    font-size: 25px;
    cursor: pointer;
    margin-top: 15px;
}

.fa-times {
    content: "\f00d";
    color: #666;
    font-size: 1.4rem;
    position: absolute;
    cursor: pointer;
}
.nav-close {
    position: fixed;
    left: 0;
    margin-left: 20px;
}

.nav_input:checked ~ .nav__overlay{
    display: block;
}
.nav_input:checked ~ .nav__mobile{
    transform: translate(0);
}

#scrollToTopBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.scrollToTopBtn {
    z-index: 1;
    transition: all 1s;
}
.hide {
    opacity:0;
    right:-100%;
}
.show {
    opacity:1;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.spec-list {
    display: flex;
    margin: 0 5% 0 100px;
}

@media (max-width: 1310px) {
    .nav_bars-btn {
        display: block;
        margin-left: 10px;
    }
    .navbar-pc {
        display: none;
    }
    .top-area {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto !important;
        margin: 0 100px;
        flex-wrap: wrap;
    }
    .img-search {
        position: absolute;
        top: 22px;
        right: 35px;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto !important;
        margin: 0 100px;
        flex-wrap: wrap;
    }
    body {
        overflow-y: hidden;
    }
    #scrollToTopBtn {
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }
}

@media (max-width: 420px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto !important;
        margin: 0 10px;
        flex-wrap: wrap;
    }
    .top-title {
        padding: 20px 10px !important;
    }
    .grid-img > a > img {
        width: 170.5px !important;
        height: 238px !important;
    }
    #scrollToTopBtn {
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }
}

@media (max-width: 360px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto !important;
        margin: 0 10px;
        flex-wrap: wrap;
    }
    .top-title {
        padding: 20px 10px !important;
    }
    .grid-img > a > img {
        width: 160px !important;
        height: 200px !important;
    }
}

