/* 
    Created on : Oct 25, 2022, 9:15:47 AM
    Author     : LuanPC
*/
html, body{
    top: 0;
    margin: 0;
    font: 14px/1.5 'Montserrat', sans-serif !important;
    background-color: #eee;
    overflow-x: hidden;
}
.container{
    margin: 100px;
}
.doctor-board{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-radius: 8px;
    border-bottom: none;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
}

.doctor-board-left{
    width: 50%;
    display: flex;
    border-right: 1px solid #eee;
}

.doctor-board-right{
    margin-left: 20px;
    width: 50%;
}
.doctor-board-right > span {
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.doctor-board-right > span > i{
    margin-right: 5px;
}

.doctor-image, .doctor-info {
    display: flex;
    flex-direction: column;
}

.doctor-name {
    font-size: 16px;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #45c3d2;
}

.doctor-info {
    margin-left: 30px;
}

.doctor-image > img {
    margin-bottom: 10px;
}

.doctor-image > img:hover {
    cursor: pointer;
}

.doctor-image > span {
    color: #45c3d2;
}
.doctor-image > span:hover {
    cursor: pointer;
}

.doctor-province > i {
    margin-right: 5px;
}

.doctor-address{
    margin-bottom: 30px;
}
.board-right-text {
    margin-bottom: 20px;
}
#dieuhuong {
    top:0;
    background: #45c3d2;
    box-shadow: 1px 1px 1px #999;
    border-bottom: none;
    position: fixed;
    z-index: 1;
}
#dieuhuong h2 {
    font-weight: normal;
    display: inline;
    position: absolute;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}
.vung-bao {
    margin-left: 100px;
}

.vung-bao i {
    color: #ffffff;
    margin-top: 20px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.doctor-schedules {
    padding: 10px 0;
}

.spec-name {
    font-size: 20px;
    font-weight: bold;
}

.specialty-info {
    margin-bottom: 20px;
}

.pick-hour-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    gap: 20px;
    padding: 20px 0;
}

.pick-hour-container > span {
    padding: 7px 15px;
    border: 1px solid #8ab5f5;
    margin-left: 15px;
    width: 120px;
    font-weight: 600;
    border-radius: 3px;
}

.pick-hour-container > span:hover {
    cursor: pointer;
    background-color: orange;
}